.landing{
    background-color: #df4c3b;
    padding-bottom: 80px
    
}
.slogan{
    font-family: 'Permanent Marker', cursive; 
    color: white;
    
}
.slogantxt p{
    font-family: 'Amatic SC', cursive; 
    font-size: 40px;
    color: #163c50;
    
}

.slogan h1{
    font-size: 60px;
}
.logins h5{
    color: #163c50;
    margin-bottom: 10vh;
    font-family: 'Caveat', cursive;
    font-size: 35px;
}




/* font-family: 'Amatic SC', cursive;
font-family: 'Permanent Marker', cursive;
font-family: 'Caveat', cursive;
#163c50; */
